<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="referrer" content="no-referrer-when-downgrade" />

  <link rel="stylesheet" href="/css/global.css">

  <!-- SEO Meta Tags -->
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="keywords" content="{{ .Site.Params.keywords }}">
  <meta name="author" content="{{ .Site.Params.author }}">-->

  <title>
    {{ block "title" . }}
    {{ .Site.Title }}
    {{ end }}
  </title>
</head>
