:root {
  --primary: #222f3e;
  --secondary: #576574;
  --bg: #c8d6e5;
}

body {
  background: var(--bg);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  word-break: break-word;
}

h1 {
  color: var(--primary);
  font-size: 64px;
  margin: 10px 0px;
  font-weight: 700;
}

h2 {
  color: var(--secondary);
  font-size: 36px;
  margin: 10px 0px;
  font-weight: 700;
}

p {
  color: var(--secondary);
  font-size: 28px;
  margin: 10px 0px;
  font-weight: 700;
}

a {
  color: var(--primary);
  font-size: 24px;
}

a:hover {
  text-decoration: none;
}

